numpy~=1.26.4
pandas~=2.2.2
matplotlib~=3.9.0
pillow~=10.3.0
bcrypt~=4.1.3
tensorflow~=2.17.0
pyserial~=3.5
psutil~=6.0.0
ttkthemes~=3.2.2
aiofiles~=24.1.0
aiocsv~=1.3.2
fonttools~=4.53.1
ttkbootstrap~=1.10.1
pystray~=0.19.5
markdown2~=2.5.0
tkinterweb~=3.24.7
xhtml2pdf~=0.2.16

torch~=2.5.1
joblib~=1.4.2
onnxruntime~=1.20.0
scikit-learn ~=1.3.0